language: android

sudo: false

jdk: oraclejdk8

android:
  components:
    - platform-tools
    - tools
    - android-26
    - build-tools-26.0.1
    - extra-android-support
    - extra
  licenses:
    - 'android-sdk-preview-license-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'

script:
  - ./gradlew -s -PdisablePreDex clean testDebug

env:
  global:
    - GRADLE_OPTS="-Xmx4g"

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/daemon
    - $HOME/.gradle/native
    - $HOME/.gradle/wrapper