<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lt.vilnius.tvarkau">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDdwFCwNh1c5bTI_sreT4BKI3oXpEjwQSM" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <!--
             This strangely named alias is here for backwards compatibility.
             Renaming activity with LAUNCHER category means that shortcuts created by users
             on their phones with previous version of the app will disappear or stop working.
        -->
        <activity-alias
            android:name="apps.factory.emiestas.MainActivity"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ProblemsListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_problem_list"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".ProblemDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_problem_detail"
            android:parentActivityName=".ProblemsListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProblemsListActivity" />
        </activity>

        <activity
            android:name=".ProblemsMapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_problems_map"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".NewProblemActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_new_problem"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".MyProfileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_my_profile"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>
